<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <a href="/"><input type="button" value="Página Inicial" style="padding-left: 15px;"></a>
    <a href="/cadastro"><input type="button" value="Cadastrar Autuado"></a>
    <a href="/consulta"><input type="button" value="Consultar Suspeitos"></a>
</head>