<%- include('include/head'); %>
<HTML>
    <head>
        <meta charset="UTF-8">

        <title>Cadastro</title>

        <script src="js/jquery-3.5.1.js"></script>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js" integrity="sha512-1bpfZkKJ+WlmJN/I2KLm79dSiuOos0ymwL5IovsUVARyzcaf9rSXsVO2Cdg4qlKNOQXh8fd1d0vKeY9Ru3bQDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/jquerymask.js"></script>


    </head>

    <body>  
        <form id="regForm" action="/cadastro/salvar"  method="POST">
            <div class="">
                <div style="width: 80%; position: center;" class="container-fluid">
                    <a>Cadastrar Identificado</a>

                <div class="form-control">

                    <div class="tab">
                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input name="nome" class="input-form"  placeholder="Nome Completo" ></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input name="apelido" class="input-form" placeholder="Apelido" ></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input name="cpf"  class="input-form" placeholder="CPF" ></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input name="rg" class="input-form" placeholder="RG" ></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><labelstyle="padding-right: 15px;">Data Nascimento:</label><input  name="dt_nascimento"  class="input-form" style="width: 61%;" type="date"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input name="naturalidade" class="input-form" placeholder="Naturalidade" ></p>
                            </div>
                        </div>

                        <div class="row">
                            <div style="width: 100%; padding-left: 15px; padding-right: 15px;">
                                <p><input class="input-form" placeholder="Email" ></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input name="nome_mae" class="input-form" placeholder="Nome mãe" ></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input name="nome_pai" class="input-form" placeholder="Nome pai" ></p>
                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="row div-form">
                            <div class="form-control">
                                <label class="">Estado Civil:</label>
                                <label class="label-form">
                                  <input name="civil" class="" type="radio" value="Solteiro(a)"/>
                                  Solteiro(a)
                                </label>
                                  
                                
                                <label class="label-form">
                                  <input  name="civil" class="" type="radio" value="Casado(a)"/>
                                  Casado(a)
                                </label> 
    
    
                                <label class="label-form">
                                  <input name="civil" class="" type="radio" value="Separado(a)"/> 
                                  Separado(a)
                                </label> 
    
    
                                <label class="label-form">
                                  <input  name="civil" class="" type="radio" value="Divorciado(a)"/> 
                                  Divorciado(a)
                                </label> 
    
    
                                <label class="label-form">
                                  <input name="civil" class="" type="radio" value="Viúvo(a)"/> 
                                  Viúvo(a)
                                </label> 
                            </div>
                        </div>

                        <div class="row div-form">
                            <div class="form-control">
                                <label class="">Cor da pele:</label>
                                <label class="label-form">
                                    <input name="corpele" class="" type="radio" value="Amarelo"/>
                                    Amarelo
                                </label>
                                  
                                
                                <label class="label-form">
                                    <input name="corpele" class="" type="radio" value="Branco"/>
                                    Branco
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="corpele" class="" type="radio" value="Pardo"/> 
                                    Pardo
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="corpele" class="" type="radio" value="Negro"/> 
                                    Negro
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="corpele" class="" type="radio" value="Vermelho"/> 
                                    Vermelho
                                </label> 
                            </div>
                        </div>

                        <div class="row div-form">
                            <div class="form-control">
                                <label class="">Cor dos olhos:</label>
                                <label class="label-form">
                                    <input name="corolhos" class="" type="radio" value="Azul"/>
                                    Azul
                                </label>
                                  
                                
                                <label class="label-form">
                                    <input name="corolhos" class="" type="radio" value="Verde"/>
                                    Verde
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="corolhos" class="" type="radio" value="Castanho"/> 
                                    Castanho
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="corolhos" class="" type="radio" value="Preto"/> 
                                    Preto
                                </label> 
                            </div>
                        </div>

                        <div class="row div-form">
                            <div class="form-control">
                                <label class="">Tipo de Cabelo:</label>
                                <label class="label-form">
                                    <input name="tipocabelo" class="" type="radio" value="Calvo"/>
                                    Calvo
                                </label>
                                  
                                
                                <label class="label-form">
                                    <input name="tipocabelo" class="" type="radio" value="Ondulado"/>
                                    Ondulado
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="tipocabelo" class="" type="radio" value="Encaracolado"/> 
                                    Encaracolado
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="tipocabelo" class="" type="radio" value="Liso"/> 
                                    Liso
                                </label> 

                                <label class="label-form">
                                    <input name="tipocabelo" class="" type="radio" value="Carapinha"/> 
                                    Carapinha
                                </label> 
                            </div>
                        </div>

                        <div class="row div-form">
                            <div class="form-control">
                                <label class="">Cor do Cabelo:</label>
                                <label class="label-form">
                                    <input name="corcabelo" class="" type="radio" value="Ruivo"/>
                                    Ruivo
                                </label>
                                  
                                
                                <label class="label-form">
                                    <input name="corcabelo" class="" type="radio" value="Loiro"/>
                                    Loiro
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="corcabelo" class="" type="radio" value="Castanho"/> 
                                    Castanho
                                </label> 
    
    
                                <label class="label-form">
                                    <input name="corcabelo" class="" type="radio" value="Preto"/> 
                                    Preto
                                </label> 

                                <label class="label-form">
                                    <input name="corcabelo" class="" type="radio" value="Grisalio"/> 
                                    Grisalio
                                </label> 
                            </div>
                        </div>
                        
                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input name="peso" class="input-form" style="width: 72%;" placeholder="Peso" type="number" ></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input name="altura" class="input-form"  type="Peso" placeholder="Altura em centimetros" ></p>
                            </div>
                        </div>
                    </div>


                    <div class="tab">
                        <div class="row div-form"><input class="end" readonly type="text" value="Endereço 1">
                            <div style="width: 100%;">
                                <p><input name="rua1" class="input-form" placeholder="Rua" ></p>
                            </div>

                            <div style="width: 100%;">
                                <p><input name="cidade1" class="input-form" placeholder="Cidade" ></p>
                            </div>

                            <div style="width: 100%;">
                                <p><input name="estado1" class="input-form" placeholder="Estado" ></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input name="numero1" class="input-form" placeholder="Número" type="number" ></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input name="complemento1" class="input-form" placeholder="Complemento" ></p>
                            </div>
                        </div>
                        

                        <div id="content">

                        </div>
                        <input class="input-form" type="button" value="+" onclick="addRow()">

                    </div>

                    <div id="tatuagens" class="tab">
                        <div class="row div-form">
                            <div style="width: 50%;">
                                <input onclick="EnableDisabletxtrosto(this)" id="ckrosto" name="ckrosto"  type="checkbox"><input disabled="disabled" id="txtrosto" name="txtrosto" type="text" placeholder="Rosto">
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <input onclick="EnableDisabletxtcostase(this)" id="ckcostas_e" name="ckcostas_e"  type="checkbox"><input disabled="disabled" id="txtcostas_e" name="txtcostas_e" type="text" placeholder="Costas (Esquerda)">
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <input onclick="EnableDisabletxtcostasd(this)" id="ckcostas_d" name="ckcostas_d" type="checkbox"><input disabled="disabled" id="txtcostas_d" name="txtcostas_d" type="text" placeholder="Costas (Direita)">
                            </div>
                        </div>
                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtpeitoe(this)" id="ckpeito_e" name="ckpeito_e"  type="checkbox"><input disabled="disabled" id="txtpeito_e" name="txtpeito_e" type="text" placeholder="Peito (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtpeitod(this)" id="ckpeito_d" name="ckpeito_d" type="checkbox"><input disabled="disabled" id="txtpeito_d" name="txtpeito_d" type="text" placeholder="Peito (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtbarrigae(this)" id="ckbarriga_e" name="ckbarriga_e"  type="checkbox"><input disabled="disabled" id="txtbarriga_e" name="txtbarriga_e" type="text" placeholder="Barriga (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtbarrigad(this)" id="ckbarriga_d" name="ckbarriga_d" type="checkbox"><input disabled="disabled" id="txtbarriga_d" name="txtbarriga_d" type="text" placeholder="Barriga (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtpernae(this)" id="ckperna_e" name="ckperna_d"  type="checkbox"><input disabled="disabled" id="txtperna_e" name="txtperna_e" type="text" placeholder="Perna (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtpernad(this)" id="ckperna_d" name="ckperna_d" type="checkbox"><input disabled="disabled" id="txtperna_d" name="txtperna_d" type="text" placeholder="Perna (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtpee(this)" id="ckpe_e" name="ckpe_e"  type="checkbox"><input disabled="disabled" id="txtpe_e" name="txtpe_e" type="text" placeholder="Pé (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtped(this)" id="ckpe_d" name="ckpe_d" type="checkbox" ><input disabled="disabled" id="txtpe_d" name="txtpe_d" type="text" placeholder="Pé (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtbracoe(this)" id="ckbraco_e" name="ckbraco_e"  type="checkbox"><input disabled="disabled" id="txtbraco_e" name="txtbraco_e" type="text" placeholder="Braço (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtbracod(this)" id="ckbraco_d" name="ckbraco_d" type="checkbox" ><input disabled="disabled" id="txtbraco_d" name="txtbraco_d" type="text" placeholder="Braço (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtantebracoe(this)" id="ckbantebraco_e" name="ckantebraco_e"  type="checkbox"><input disabled="disabled" id="txtantebraco_e" name="txtantebraco_e" type="text" placeholder="AnteBraço (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtantebracod(this)" id="ckantebraco_d" name="ckantebraco_d" type="checkbox" ><input disabled="disabled" id="txtantebraco_d" name="txtantebraco_d" type="text" placeholder="AnteBraço (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtmaoe(this)" id="ckmao_e" name="ckmao_e"  type="checkbox"><input disabled="disabled" id="txtmao_e" name="txtmao_e" type="text" placeholder="Mão (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtmaod(this)" id="ckmao_d" name="ckmao_d" type="checkbox" ><input disabled="disabled" id="txtmao_d" name="txtmao_d" type="text" placeholder="Mão (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 50%;">
                                <p><input onclick="EnableDisabletxtpescocoe(this)" id="ckpescoco_e" name="ckpescoco_e"  type="checkbox"><input disabled="disabled" id="txtpescoco_e" name="txtpescoco_e" type="text" placeholder="Pescoço (Esquerda)"></p>
                            </div>
                            <div style="width: 50%; padding-left: 35px;">
                                <p><input onclick="EnableDisabletxtpescocod(this)" id="ckpescoco_d" name="ckpescoco_d" type="checkbox" ><input disabled="disabled" id="txtpescoco_d" name="txtpescoco_d" type="text" placeholder="Pescoço (Direita)"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 100%;">
                                <p><input onclick="EnableDisabletxtcicatriz(this)" id="ckcicatriz" name="ckcicatriz"  type="checkbox"><input disabled="disabled" id="txtcicatriz" name="txtcicatriz" type="text" placeholder="Cicatriz"></p>
                            </div>
                        </div>

                        <div class="row div-form">
                            <div style="width: 100%">
                                <p><input onclick="EnableDisabletxtdeformidade(this)" id="ckdeformidade" name="ckdeformidade" type="checkbox" ><input disabled="disabled" id="txtdeformidade" name="txtdeformidade" type="text" placeholder="Deformidade"></p>
                            </div>
                        </div>                        
                    </div>


                    <div class="tab">
                        <div class="row div-form"><input class="oc" readonly type="text" value="Ocorrência 1">
                            <div style="width: 100%;">
                                <p><input name="data1" class="input-form" type="date"></p>
                            </div>

                            <div style="width: 100%;">
                                <p><input name="procedimento1" class="input-form" placeholder="Procedimento" ></p>
                            </div>

                            <div style="width: 100%;">
                                <p><input name="artigo1" class="input-form" placeholder="Artigo" ></p>
                            </div>

                            <div style="width: 100%;">
                                <p><input name="lei1" class="input-form" placeholder="Lei" ></p>
                            </div>

                            <div style="width: 100%;">
                                <p><input name="historico1" class="input-form" type="textarea" placeholder="Histórico" ></p>
                            </div>
                        </div>

                        <div id="ocorrencia">

                        </div>
                        <input class="input-form" type="button" value="+" onclick="addOcorrencia()">
                    </div>


                <div id="images" class="tab">      
                    <div class="container-fluid">
                        <label class="label" data-toggle="tooltip" title="" data-original-title="Imagem Principal">
                            <img class="rounded" id="avatar" name="avatar" src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
                            <input type="file" class="sr-only" id="input" name="fotos" accept="image/*">
                        </label>
                         <input name="imagem_principal_value" id="imagem_principal_value" type="hidden" value="">

                        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <img style="width: 100%;" id="imagem_principal" src="" class=""> 
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="crop">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container-fluid">
                        <label class="label" data-toggle="tooltip" title="" data-original-title="Imagem 1">
                            <img class="rounded" id="avatar1" name="avatar1" src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
                            <input type="file" class="sr-only" id="input1" name="fotos" accept="image/*">
                        </label>
                         <input name="imagem1_value" id="imagem1_value" type="hidden" value="">

                        <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                        <button type="button" class="close" data-dismiss="modal1" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <img style="width: 100%;" id="imagem1" src="" class=""> 
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal1">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="crop1">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <label class="label" data-toggle="tooltip" title="" data-original-title="Imagem 2">
                        <img class="rounded" id="avatar2" name="avatar2" src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
                        <input type="file" class="sr-only" id="input2" name="fotos" accept="image/*">
                    </label>
                     <input name="imagem2_value" id="imagem2_value" type="hidden" value=""> 

                    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                    <button type="button" class="close" data-dismiss="modal2" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <img style="width: 100%;" id="imagem2" src="" class=""> 
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal2">Cancel</button>
                                    <button type="button" class="btn btn-primary" id="crop2">Crop</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <label class="label" data-toggle="tooltip" title="" data-original-title="Imagem 3">
                        <img class="rounded" id="avatar3" name="avatar3" src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
                        <input type="file" class="sr-only" id="input3" name="fotos" accept="image/*">
                    </label>
                     <input name="imagem3_value" id="imagem3_value" type="hidden" value=""> 

                    <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                        <button type="button" class="close" data-dismiss="modal3" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <img style="width: 100%;" id="imagem3" src="" class=""> 
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal3">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="crop3">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                <label class="label" data-toggle="tooltip" title="" data-original-title="Imagem 4">
                    <img class="rounded" id="avatar4" name="avatar4" src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
                    <input type="file" class="sr-only" id="input4" name="fotos" accept="image/*">
                </label>
                 <input name="imagem4_value" id="imagem4_value" type="hidden" value=""> 

                <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                <button type="button" class="close" data-dismiss="modal4" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <img style="width: 100%;" id="imagem4" src="" class=""> 
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal4">Cancel</button>
                                <button type="button" class="btn btn-primary" id="crop4">Crop</button>
                            </div>
                        </div>
                    </div>
                </div>


 
                <label class="label" data-toggle="tooltip" title="" data-original-title="Imagem 5">
                    <img class="rounded" id="avatar5" name="avatar5" src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
                    <input type="file" class="sr-only" id="input5" name="fotos" accept="image/*">
                </label>
                <input name="imagem5_value" id="imagem5_value" type="hidden" value=""> 

                <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                <button type="button" class="close" data-dismiss="modal5" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <img style="width: 100%;" id="imagem5" src="" class=""> 
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal5">Cancel</button>
                                <button type="button" class="btn btn-primary" id="crop5">Crop</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>




                <div style="overflow:auto;">
                    <div style="float:right;">
                      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                      <button type="button" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
                    </div>
                </div>  
            </div>    
        
            
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
            
        </form>
 
        <script src="https://unpkg.com/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    
        <script src="js/tab.js"></script>

        <script src="js/end.js"></script>  

        <script src="js/ocorrencia.js"></script>

        <script src="js/tattoock.js"></script>

        <script src="js/cropper.js"></script>

    </body>
</HTML>