<!DOCTYPE html>
<%- include('include/head'); %>
<html lang="PT-BR">
    <head>
        <script src="js/jquery-3.5.1.js"></script>
        <script src="js/bootstrap/bootstrap.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
    <body>
    </body>
</html>


