<HTML>
    <head>
        <meta charset="UTF-8">
        <a href="/">Home</a>

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="DivA">
                <img src="images/pmcv.png" style="width: 250px; height: 200px;">
        </div>

            <div id="DivLateral">
                <label>SECRETARIA DE SEGURANÇA PÚBLICA</label>
            </div>

            <div id="DivLateral">
                <label>POLÍCIA CIVIL DO ESTADO DE SÃO PAULO</label>
            </div>

            <div id="DivLateral">
                <label>DEINTER III</label>
            </div>

            <div id="DivLateral">
                <label>DELEGACIA SECCIONAL DE POLÍCIA DE SÃO CARLOS/SP</label>
            </div>

            <div id="DivLateral">
                <label>Delegacia de Polícia de Invstigações Gerais - DIG</label>
            </div>
        
    </body>
</HTML>